 body {
    font-family:'Roboto',sans-serif;   
    background-color: #FFFFFF;
    color: #434455;
 }
.header-logo {
  font-family: "Raleway", sans-serif
}

 .header-menu-list {
  color: #2e2f42;
 }
.hero {
  background: #2E2F42;
}
 .header-logo {
   color: #4d5ae5 ;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
 }

  
 .span-studio {
  color:  #2e2f42;
 }
 .header-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
 }

.header-link:hover {color: #404bbf;}
  

.header-link:focus {color: #404bbf;}
 


 .adress {
  font-style: normal;
 }
 .address-list {
  color:  #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
 }
 .address-list:hover { color: #404bbf; }
 .address-list:focus { color: #404bbf; }
 .hero-title { 
  color: #FFF;
  text-align: center;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-size: 56px;
 }


.hero-bye-btn {
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
}
  .hero-bye-btn:hover {
    background-color: #404BBF;
  }
  .hero-bye-btn:focus {
    background-color: #404BBF;
  }


.title-text {
  line-height: 1.2;
}
 
 .title-link {
  color:#2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
 }
 .title-paragraph {
  color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
 }
.contact-aside-item {
  background-color: #F4F4FD
}
 .subject-content-aside {
  color: #2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
 }
 .section-items {
  background-color: #F4F4FD
 }
 .subject-item {
  color: #2E2F42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
 }
 .subject-paragraph {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em; 
 }
  .class-photo {
    background-color: #FFFFFF;
  }
.title-section {
  color:#2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.servises {
  color: #2E2F42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
}
 .activity {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
 }

 .footer {
  background: #2E2F42;
 }
 .span-footer-studio {
  color: #F4F4FD;
 }
 

 .footer-html {
  font-family: "Raleway",sans-serif;
 }
.footer-html {
  color: #4D5AE5;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 18px;
}
.footer-paragraph {
  color: #F4F4FD;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
 }




