 body {
    font-family:'Roboto',sans-serif;
    background-color: #FFFFFF;
    color: #434455;
 }
 
.hero {
  background: #2E2F42;
}
 .header-logo {
   color: #2E2F42;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.16;
   letter-spacing: 0.03em;
   text-transform: uppercase;
 }

  .span-logo {
   color: #4D5AE5;  
 }

 .header-menu-item {
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
 }
 
 .address-list {
  color:  #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5px;
  letter-spacing: 0.02em;
 }
 .address-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5px;
  letter-spacing: 0.02em;
 }

 
 .hero-title { 
  color: #FFF;
  font-weight: 700;
  line-height: 1.07px;
  letter-spacing: 1.02px;
  font-size: 56px;
 }


.hero-bye-btn {
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
}
  

 
 .title-link {
  color:#2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2px;
letter-spacing: 0.02em;
 }
 .title-link-text {
  color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5px;
letter-spacing: 0.02em;
 }

 .subject {
  color: #2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
 }
 .subject-item {
  color: #2E2F42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2px;
  letter-spacing: 0.02em;
 }
 .subject-item-desk {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5px;
  letter-spacing: 0.02em; 
 }
  
.title-section {
  color:#2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.servises {
  color: #2E2F42;
  font-weight: 500;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  font-size: 20px;
}
 .activity {
  color: #434455;
  font-weight: 400;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  font-size: 16px;
 }

 .footer {
  background: #2E2F42;
 }
 .span-footer {
  color: #4D5AE5;
 }

.footer-html {
  color: #F4F4FD;
  font-weight: 700;
  line-height: 1.16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 18px;
}
.footer-text {
  color: #F4F4FD;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  
 
}





